
    
	#header__navigation-rwd-pull,
	#header__navigation-rwd-close{
		display: none;
	}


.only-mobile{
	display: none !important;
}

@media screen and (max-width: 940px){
	
	.header__navigation{
		
		
		// Opend Menu
		
		&.header__navigation--rwd-opend{
			
			#header__navigation-rwd-pull{
				display: none;
			}
	
			#header__navigation-rwd-close{
				display: block;
			}

			.menu{
				display: block !important;
				background-color: #fff;
				
				position: fixed;
				top: 144px;
				left: 0px;
				
				width: 100%;
				height: auto;
				border-bottom: 1px #ccc solid;
				
				li{
					display: block;
					float: none;
					width: 100%;
					border: 0px;
					border-top: 1px #ccc solid;
					
					a{
						display: block;
					}
					
					&.current a:after{
						content: '';
						position: absolute;
						left: -24px;
						bottom: 0px;
						top: 0px;
						height: 100%;
						width: 4px;
						background-color: $orange;
					}
				}
			}
		}
		
		
		// Closed Menu
			
		#header__navigation-rwd-pull,
		#header__navigation-rwd-close{
			position: absolute;
			right: 14px;
			top: 14px;
			bottom: 14px;
			
			svg {
				height: 38px;
				width: 38px;
				
				path{
					fill: $orange;
				}
			}
			 
		}
	
		#header__navigation-rwd-close{
			display: none;
		}
	
		#header__navigation-rwd-pull{
			display: block;
		}

		.menu{
			display: none !important;
		}

	}
	
	
	
	.only-mobile{
		display: block !important;
	}
	
	
	
	
	// Home Page
	
	.page.home{
	
		.section--home-hero{
			background-image: none !important;
			background: #f6a80f;

			h1{font-size: 2rem;}
			p{font-size: 1.2rem;}
		}
	}
	
	
	
}